URxvt.font: xft:monospace:size=10
URxvt.scrollBar: False

! disable iso Ctrl+Shift shortcut that enters ISO14755 mode
URxvt.iso14755: False

!Theme Ten
URxvt*background: rgb:1a/1a/1a
URxvt*foreground: rgb:d6/d6/d6
URxvt*color0:     rgb:00/00/00
URxvt*color1:     rgb:98/56/5e
URxvt*color2:     rgb:66/82/5d
URxvt*color3:     rgb:96/91/76
URxvt*color4:     rgb:4d/65/85
URxvt*color5:     rgb:96/73/95
URxvt*color6:     rgb:5f/7f/7b
URxvt*color7:     rgb:b3/b3/b3
URxvt*color8:     rgb:73/73/73
URxvt*color9:     rgb:cf/a3/a9
URxvt*color10:    rgb:ca/f7/bb
URxvt*color11:    rgb:ff/f8/bc
URxvt*color12:    rgb:83/a3/be
URxvt*color13:    rgb:bb/a9/cf
URxvt*color14:    rgb:96/cc/cc
URxvt*color15:    rgb:ff/ff/ff

!Bind Shift+F{1-12} key codes
URxvt.keysym.S-F1: \033[1;2P
URxvt.keysym.S-F2: \033[1;2Q
URxvt.keysym.S-F3: \033[1;2R
URxvt.keysym.S-F4: \033[1;2S
URxvt.keysym.S-F5: \033[15;2~
URxvt.keysym.S-F6: \033[17;2~
URxvt.keysym.S-F7: \033[18;2~
URxvt.keysym.S-F8: \033[19;2~
URxvt.keysym.S-F9: \033[20;2~
URxvt.keysym.S-F10: \033[21;2~
URxvt.keysym.S-F11: \033[23;2~
URxvt.keysym.S-F12: \033[24;2~

! Enable fullscreen, resize font
URxvt.perl-ext-common: fullscreen,resize-font
URxvt.keysym.F11: perl:fullscreen:switch
URXvt.resize-font.smaller: C--
URXvt.resize-font.bigger: C-+

